Repository mayankmanas28/MoneyTrail, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, tests

.github/labeler.yml:

frontend:
  - "frontend/**/*"

backend:
  - "backend/**/*"

docs:
  - "docs/**/*"
  - "**/*.md"

tests:
  - "**/__tests__/**/*"

Clean up README by removing unnecessary sections
  README.md
Labels: docs

Update axios.js
  frontend/src/api/axios.js
Labels: frontend

Change axios base URL for local development
  frontend/src/api/axios.js
Labels: frontend

Update server.js
  backend/server.js
Labels: backend

Update server.js
  backend/server.js
Labels: backend

Update server.js
  backend/server.js
Labels: backend

Update axios.js
  frontend/src/api/axios.js
Labels: frontend

Update axios.js
  frontend/src/api/axios.js
Labels: frontend

Update RegisterPage.jsx
  frontend/src/pages/RegisterPage.jsx
Labels: frontend

Update README.md
  README.md
Labels: docs
